root = true
[*.{kt,kts}]
disabled_rules=import-ordering
ktlint_standard_import-ordering = disabled
ktlint_import-ordering = disabled
ktlint_trailing-comma-on-call-site = disabled
ktlint_trailing-comma-on-declaration-site = disabled